<html>

<head>
    <!--  
  <style>
   body {
  # Uncomment to add CSS Styling
        }
   </style>
   -->
</head>

<!-- Added An HTML Page So User Can Visit A Profile Page Before Main App Page.
        Clicking A Button Will Route The User To View Main Page -->

<!-- This Page Will Be Further Designed To Have Functionality So The User 
         Can Edit Their User Profile And The Data They Enter Will Be Saved, Updated,  
         And Displayed -->

<body>
    <h1>Main Page</h1>
    <a href="/">
        <button>View Profile Page</button>
    </a>
</body>

</html>