<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: Verdana;
            background-color: #8BAAAD;
            font: Verdana;
        }

        .container {
            max-width: 650px;
            text-align: center;
            margin: 1rem auto;
            overflow: auto;
            padding: 0px;
        }

        input:valid+span:after {
            position: absolute;
            content: '✓';
            padding-left: 5px;
        }
    </style>
</head>

<!-- Added An HTML Page So User Can Visit A Profile Page Before Main App Page.
        Clicking A Button Will Route The User To View Main Page -->

<!-- This Page Will Be Further Designed To Have Functionality So The User 
         Can Edit Their User Profile And The Data They Enter Will Be Saved, Updated,  
         And Displayed -->

<body>
    <div class='container'>
        <h1>Profile Page</h1>
        <a href="/index">
            <div class='container'>
                <button>View Main Page</button>
            </div>
        </a>
        <form method="post" action="">
            {{ form.hidden_tag() }}
            Gender:
            {{ form.gender }}
            Height:
            {{ form.heightFeet }}
            {{ form.heightInches }}
            <br></br>
            Weight:
            {{ form.weight }}
            Birthdate:
            {{ form.birthdate }}
            <br></br>
            {{ form.submit }}
        </form>
    </div>
</body>

</html>