<html>

<head>
    <!--  
  <style>
   body {
  # Uncomment to add CSS Styling
        }
   </style>
   -->
</head>

    <!-- Added An HTML Form That Registers Users For An Account 
        Or Routes Users To Login If They Have An Account Already -->

<body>
    <h1>Register</h1>
    <form method="POST" action="/registration">
        <input type="text" name="username" placeholder="Enter Username" required>
        <input type="submit" value="Submit">
    </form>
    <a href="/login">Log In</a>
</body>

</html>