body {
  margin: 0;
  font-family: Verdana, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font: Verdana;
  background-color: #8BAAAD;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 650px;
  text-align: center;
  margin: 1rem auto;
  overflow: auto;
  padding: 0px;
}

input:not([type="submit"]) {
  margin-right: 9px;
}
